<div id='spinner'>
    <%= image_tag('nyan-tiny.gif') %>
    <%= image_tag('spinner.gif') %>
    <br/>
    <span class='status_msg'>loading...</span>
</div>

<h1 id="answer"><%= dead_msg(@last_time)%></h1>
<p class="subtext">Greg was most recently active <%= time_ago_in_words( @last_time ) %> ago on <%= @last_service %>.</p>

<div id="evidence">
The full evidence:
<ul>
<li id="github">Greg last committed code <strong><%= time_ago_in_words( @last_commit_time ) %> ago</strong> to <tt><%= @last_commit_branch -%></tt> stating: <tt><%= @last_commit_msg %></tt></li>
<li id="twitter">Greg last tweeted <strong><%= time_ago_in_words( @last_tweet_time ) %> ago</strong> stating: <tt><%= @last_tweet_msg %></tt></li>
</ul>
</div>